@charset "utf-8";
/* CSS Document */

/*------------ Montserrat ------------*/

@font-face{
    font-family: 'Montserrat-Light';
    src:url(../../Resources/Font/Montserrat/Montserrat-Light.otf);
}

@font-face{
    font-family: 'Montserrat-Regular';
    src:url(../../Resources/Font/Montserrat/Montserrat-Regular.otf);
}

@font-face{
    font-family: 'Montserrat-SemiBold';
    src:url(../../Resources/Font/Montserrat/Montserrat-SemiBold.otf);
}

@font-face{
    font-family: 'Montserrat-Bold';
    src:url(../../Resources/Font/Montserrat/Montserrat-Bold.otf);
}

@font-face{
    font-family: 'Montserrat-Thin';
    src:url(../../Resources/Font/Montserrat/Montserrat-Thin.otf);
}




