@media only screen and (min-width: 320px) and (max-width: 812px) and (max-aspect-ratio: 13/9){
    .navigation{
        display: none;
    }
    .mobile_menu{
        display: block;
        /*display: block;
        opacity: .25;*/
    }
    .head_logo{
        width: 2.5em;
        height: 4em;
    }
    .logo{
        width: 80%;
    }
    .logo > span{
        font-size: 9px;
    }
    
    .mobile_menu_btn{
        display: block;
    }
    
   
    
    
    
    .this_work{
        width: 100%;
        height: 33.33%;
    }
    
    .this_work > span{
        height: 50%;
    }
    .this_work::before{
        opacity: .5;
        background-size: cover;
    }
    .this_work:hover::before{
        opacity: .5;
        transform: none;
    }
    .this_work:nth-child(1){
        background-color: #151635;
    }
    .this_work:nth-child(1)::before{
		/*414 / 812*/
		/*background-image: url();*/
		background-image: url(../Imgs/work_crash1.png);
	}
    .this_work:nth-child(2){
        background-color: #c70214;
    }
    
    .this_work:nth-child(2)::before{
        background-image: url(../Imgs/work_specter1.png);
    }
    .this_work:nth-child(3){
        background-color: #111517;
    }
    
    .this_work:nth-child(3)::before{
        background-image: url(../Imgs/work_realm.png);
    }
    
    .this_work > span > h2{
        font-size: 22px;
    }
    
    
    .contact > div:nth-child(1){
        width: 90%;
            margin-left: 5%;

    }
    
    .contact > div > h1, .contact > div > h2{
        text-align: center;
    }
    .contact > div > h1{
        margin-right: auto;
    }
    .contact > div > h1{
        font-size: 40px;
    }
    .contact > div > h2{
        width: 100%;
        font-size: 15px;
        letter-spacing: 10px;
        overflow: hidden;
        text-align: center;
        /*text-shadow: 0px 5px 2px #111;*/
    }
    .contact > div > h3{
        font-size: 10px;
    }
    .contact > div > h3:nth-child(3)::after{
        width: 2px;
        height: 150%;
        margin-left: 5%;
        margin-top: auto;
        background: linear-gradient(to bottom, #da1921, transparent);
    }
    
    .contact > div:nth-child(2){
        top: auto;
        bottom: 0;
        width: 100%;
        height: 40%;
    }
    
    .contact > div:nth-child(2)::before{
        background-position: bottom;
    }
    .contact > div > footer{
        height: 25%;
        font-size: 8px;
        letter-spacing: 10px;

    }
    
}


@media only screen and (min-width: 320px) and (max-width: 736px) and (orientation: landscape){
    
    .main_body{
        display: none;
    }
    .not_portrait{
        display: block;
    }
    .not_portrait::after{
        font-size: 7px;
        letter-spacing: 5px;
        bottom: 15%;
    }
    
}
